name: Schema test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: packagecontrol/st-schema-reviewer-action@feat/four-point-oh
        with:
          test_repositories: true
